{% extends 'AppBundle::admin/page.html.twig' %}

{% block title %}{{ 'tasks.list.title'|trans }}{% endblock %}
{% block subtitle %}asdsd{% endblock %}

{% block body %}
    <table class="data table">
    <thead>
        <tr>
            <th class="id">#</th>
            <th>nazwa</th>
            <th>finish</th>
            <th data-orderable="false"></th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{ task.title }}</td>
                <td>{{ task.isFinished }}</td>
                <td>
                        <span class="label label-default bg-green">lol</span>
                </td>
                <td>
                    <a href="" class="btn btn-warning deletable">asdasd</a>
                    <a href="" class="btn btn-info">asd</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
