{% for type, messages in app.session.flashbag.all %}
    <div class="callout callout-{{ type }}" role="alert">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
{% endfor %}
